<div id="main-container" class="container">
	<div id="index-header" class="text-center">
  		<h1>M2M</h1>
  		<h2>a search tool for Mudders, shared by Mudders</h2>
	</div>
	<div id="search-field" class="row">
		<div class="text-center">
		<%= form_tag(queries_path, :method => "get", id: "search-form", :class => 'form-inline') do %>
			<%= text_field_tag(:search, params[:search], :class => "form-control", :size => 75) %>
		<% end %>
		</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 text-center">
			<div id="warning">
				<p id='top-warning'>Not working?</p>
				<p>Make sure you're connected to Claremont-WPA!</p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	</div>
	</div>
</div>

